DATABASE_URL=postgresql://postgres:db.qrkbvaljjudfuhznxppr@.X%vEjb7cfm%YuJ.supabase.co:5432/postgres
JWT_SECRET=Ffghdfsfdggkjmhdkjsjdkh
JWT_REFRESH_SECRET=hdgfhdgfjhgdhjfgjhdggfd
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=cautelas-pdf
NEXT_PUBLIC_APP_NAME=Cautela MKT
